<link href="./landingpage.component.css" rel="stylesheet">
<div class="perspective effect-rotate-left">
  <div class="container"><div class="outer-nav--return"></div>
    <div id="viewport" class="l-viewport">
      <div class="l-wrapper">
        <header class="header">
          <a class="header--logo" href="#0">
            <img src="/logo.png" alt="Global">

          </a>
        </header>
        <ul class="l-main-content main-content">

            <div class="intro">
              <div class="intro--banner">
                <h1>ChatDSA</h1>
                <button (click)="navigateToLogin()" class="cta">Chat
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 118" style="enable-background:new 0 0 150 118;" xml:space="preserve">
                  <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                    <path d="M870,1167c-34-17-55-57-46-90c3-15,81-100,194-211l187-185l-565-1c-431,0-571-3-590-13c-55-28-64-94-18-137c21-20,33-20,597-20h575l-192-193C800,103,794,94,849,39c20-20,39-29,61-29c28,0,63,30,298,262c147,144,272,271,279,282c30,51,23,60-219,304C947,1180,926,1196,870,1167z"/>
                  </g>
                  </svg>
                  <span class="btn-background"></span>
                </button>
                <img src="/introduction.png" alt="Welcome">
              </div>
              <div class="intro--options">
                <a href="#0">
                  <h3>ChatBot</h3>
                  <p>Là một chương trình kết hợp với trí tuệ nhân tạo để tương tác với con người qua hình thức tin nhắn hoặc âm thanh.</p>
                </a>
                <a href="#0">
                  <h3>Cấu trúc dữ liệu &amp; giải thuật</h3>
                  <p>Là xương sống của bất kỳ chương trình phần mềm nào, từ các ứng dụng đơn giản đến các hệ thống phúc tạp.</p>
                </a>
                <a href="#0">
                  <h3>Chatdsa</h3>
                  <p>Là một ChatBot giúp người dùng tiếp thu kiến thức môn Cấu trúc dữ liệu và Giải thuật tốt hơn.</p>
                </a>
              </div>
            </div>

          


