<form  class="form" (ngSubmit)="userLogin()">
    <p class="form-title">Đăng nhập vào tài khoản</p>
     <div class="input-container">
       <input type="text" [(ngModel)]="user.mssv" placeholder="Enter Student ID" id="mssv" name="mssv">
       <span>
       </span>
   </div>
   <div class="input-container">
       <input type="password" [(ngModel)]="user.password" placeholder="Enter password" id="password" name="password">
     </div>
      <button type="submit" class="submit">
     Đăng nhập
   </button>

   <p class="signup-link">
     Không có tài khoản?
     <button (click)="navigateToSignUp()">Đăng ký</button>
   </p>
</form>
